html {
    font-size: 62.5%;    /* Default font size is 16px -  62.5% of 16 is 10px -
                            1 rem (relative unit) now will be equivalent to 10px} */
}



body {
    color: #000;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}



header {
    background-color:   DeepSkyBlue;
    border: 10px solid Orange;
    margin: 10px;
    padding: 10px;
    font-size: 2rem;
    display: flex; 
    justify-content: space-around;
}



main {
    background-color:     DarkBlue;
     border: 10px solid Orange;
     margin: 50px;
     padding: 50px;
     display: flex;
     justify-content: space-around;
}



footer {
    background-color:   DeepSkyBlue;
     border: 10px solid Orange;
     margin: 50px;
     padding: 50px;
}



section {
    background-color: yellow;    
    margin: 25px;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



aside {
    background-color: lightGreen;
    margin: 20px;
    padding: 30px;
}
